.resources {
    text-align: center;
    color: white;
    background-color: grey;
    padding: 1rem;
    /* margin-top: 6rem; */
    width: 100%;
    padding-bottom: 20rem;
    margin-bottom: 10rem;
}

.resources .card {
    background: plum;
    margin: 0.5rem;
    color: black;
    width: 18rem;
}

.sideBySide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img {
    width: 100%;
    height: auto;
}

.bookSelf {
    padding: 1rem;
    margin: 1rem;
    background-color: gray;
    text-align: left;
}

.textWrapLeft {
    clear: right;
    float: left;
    margin: 1rem;
    max-width: 20rem;
} 

.textWrapRight {
    clear: left;
    float: right;
    margin: 1rem;
    max-width: 20rem;
}

@media (max-width: 600px) {
    .textWrapLeft {
        margin: 0.5rem;
        max-width: 18rem;
    }
    .textWrapRight {
        margin: 0.5rem;
        max-width: 18rem;
    }
}

@media (min-width: 601px) {
    .textWrapLeft {
        margin: 1.5rem;
        max-width: 18rem;
    }
    .textWrapRight {
        margin: 1.5rem;
        max-width: 18rem;
    }
}