.resources {
    text-align: center;
    color: white;
    background-color:  grey;
    padding: 1rem;
    margin-top: 6rem;
    width: 100%;
}

/* .resources .card{
    width: 14rem;
} */

img {
    width: 100%;
    height: auto;
}

.bookSelf{
    padding: 1rem;
    margin: 1rem;
    background-color: gray;
}