.resources {
  /* font-family: 'josefin_sanslight'; */
  text-align: center;
  color: var(--dark-color);
  /* background-color: var(--light-color); */
  margin: 3rem 5rem;
  /* padding: 1rem; */
  /* margin-top: 6rem; */
  /* width: 100%; */
  /* padding-bottom: 20rem;
  margin-bottom: 10rem; */
}

/* .text {
  color: var(--primary-color);
} */

.resources .card {
  background: var(--tr-honey);
  margin: 0.5rem;
  /* color: black; */
  width: 18rem;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  width: 100%;
  height: auto;
}

.bookSelf {
  padding: 1rem;
  margin: 2rem;
  background-color: var(--tr-honey);
  text-align: left;
}

.center-div{
  text-align: center;
}

/* .textWrapLeft {
  clear: right;
  float: left;
  margin: 1rem;
  max-width: 20rem;
}

.textWrapRight {
  clear: left;
  float: right;
  margin: 1rem;
  max-width: 20rem;
} */

@media (max-width: 600px) {
  .textWrapLeft {
    margin: 0.5rem;
    max-width: 18rem;
  }
  .textWrapRight {
    margin: 0.5rem;
    max-width: 18rem;
  }
}

@media (min-width: 601px) {
  .textWrapLeft {
    margin: 1.5rem;
    max-width: 18rem;
  }
  .textWrapRight {
    margin: 1.5rem;
    max-width: 18rem;
  }
}
