 .footer {
    background-color: rgb(90, 156, 145);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(245, 168, 168);
    text-align: center;
 }


