
.footer {
    
    justify-content: center;
    text-align: center;
    background-color: rgb(145, 189, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    position: fixed;
    bottom: 0;
    /* left: 0;
    bottom: 0; */
    width: 100%;
    color: rgb(235, 193, 121);
    padding: 10px;
    box-shadow: 0 5px 6px rgba(59, 59, 59, 0.5) inset;
    
    /* opacity: 0.95; */
    
}

/* html {
   font-size: 2vw;
} */
/* .col-1-2 {
   font-size: 0.10em;
} */


/* @media screen and (min-width: 75em) {
   html {
     font-size: 1em;
   }
 }

.col {
   float: left;
   width: 33.33%;
} */

/* @media (min-width: 600px) {
   .navbar-brand-footer {
      width: 14rem;
      margin: auto; 
   }
} */

@media (max-width: 600px) {
   .col {
      width: 100%;
      margin: auto;
      float: none;
      display: inline-block;
      vertical-align: middle;
      min-height: 10vh;
      flex-direction: column;
      text-align: center;
      position: relative;
      padding-left: 4em;
      padding-right: 4em;
      padding-top: 1em;
      padding-bottom: 1em;
   }
   /* .col-title .text-link {
      font-size: 20em;
   } */
}

@media (min-width: 453px) and (max-width: 800px) {
   .col {
      width: 100%;
      margin: auto;
      float: none;
      display: inline-block;
      vertical-align: middle;
      min-height: 10vh;
      flex-direction: column;
      text-align: center;
      position: relative;
      padding: .5em;
   }
   /* .col-title .text-link {
      font-size: 20em;
   } */
}

@media (min-width: 801px) {
   .col {
      width: 100%;
      margin: auto;
      float: none;
      display: inline-block;
      vertical-align: middle;
      min-height: 10vh;
      flex-direction: column;
      text-align: center;
      position: relative;
      padding: 2em;
   }
   /* .col-title .text-link {
      font-size: 20em;
   } */
}

.navbar-brand-footer {
   display: block;
   justify-content: center;
   max-width: 60%;
   max-height: 60%; 
   margin: auto;
   opacity: 0.90;
   border-bottom: 1px #7777 solid;
}   

@media (min-width: 1153px) {
.navbar-brand-footer {
   display: block;
   justify-content: center;
   max-width: 45%;
   max-height: 45%; 
   margin: auto;
}  
}

/* .copyright {
   text-align: center;
   background-color: rgb(30, 56, 83);
}  */

