.blogContainer {
  /* font-family: josefinsans-bold; now controlled by index.css */
  text-align: center;
  color: black;
  /* background-color: lightgrey; */
  padding: 1rem;
  margin: 1rem;
  /* padding-bottom: 6rem;
  margin-bottom: 9rem; */

  /* padding: 1rem 1rem; */
  /* width: 100%; */
}

.blogUpdateContainer{
  background: var(--tr-honey);
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.adminBlogContainer {
  background: var(--tr-honey);
  margin: 1rem;
  padding: 1rem 1rem;
  /* width: 100%; */
}
.blogDetail {
  background: lightyellow;
  padding: 0.5rem;
  color: black;
  text-align: left;
}

.blogContainer .card {
  background: var(--tr-honey);
  margin: 0.5rem;
  color: black;
  /* padding: 1rem 1rem; */
  /* width: 75%; */
}

.blogs .card-header {
  /* background: rgba(166, 221, 203, 0.8); */
  text-align: left;
}

.blogs .card-title {
  /* background: rgba(128, 240, 203, 0.8); */
  text-align: left;
}

.blogs .card-text {
  /* background: rgba(6, 133, 90, 0.8); */
  text-align: left;
}
