
.blogContainer {
  background: rgba(142, 180, 238, 0.8);
  margin: 1rem;
  padding: 1rem 3rem;
  /* width: 100%; */
}
.adminBlogContainer {
  background: rgb(255, 240, 240);
  margin: 1rem;
  padding: 1rem 3rem;
  /* width: 100%; */
}
.card {
  background: rgba(226, 37, 201, 0.8);
  margin: 1rem;
  padding: 1rem 1rem;
  /* width: 75%; */
}
.card-header {
  background: rgba(166, 221, 203, 0.8);
  text-align: left;
}

.card-title {
  background: rgba(128, 240, 203, 0.8);
  text-align: left;
}

.card-text {
  background: rgba(6, 133, 90, 0.8);
  text-align: left;
}