body {
  margin: 0;
  font-family: 'josefin_sanslight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--light-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  text-align: center;
} */

.navBarLink {
  margin-right: 50px;
}

/* .contactUs {
  justify-content: flex-end;
} */

.logo {
  text-align: end;
  margin-right: 5rem;
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .header .logo {
    float: none;
  }

  .main-nav .navbar-nav {
    margin: 15px 0;
  }

  .nav-link {
    padding: 0.7rem 0;
  }
}

.main-nav .navbar-header {
  padding-top: 15px;
}

.main-nav .nav .nav-item .btn-signup {
  position: static;
}
.main-nav .nav .nav-item {
  color: #fff;
}

.main-nav .nav .nav-item.active a {
  color: color-primary;
}

.heading-section .heading-content .actions .btn {
  margin-right: 0;
}

.promo-section .actions .btn {
  margin-bottom: 15px;
}

.features-content-wrapper {
  padding-right: 0;
  margin-bottom: 0;
}

.features-figure-wrapper {
  position: static;
  margin-top: 0;
  max-width: 100%;
  margin-bottom: 45px;
}

.ipad-screen {
  max-width: 220px;
}

.iphone-screen {
  max-width: 80px;
}

.benefits-wrapper {
  margin-top: -30px;
}

.overview-section .play-icon {
  top: 60px;
}

.posts-block .post .meta {
  position: static;
  width: inherit;
}
.posts-block .post .author-profile {
  width: 40px;
  height: 40px;
}
.posts-block .post .post-content {
  padding-left: 0;
}
.posts-block .post .post-title {
  padding-left: 0;
  text-align: center;
}
.posts-block .nav-tabs > li {
  margin-bottom: 15px;
}

.post-single-block .author-container .author {
  position: static;
  text-align: center;
  margin-bottom: 15px;
}
.post-single-block .author-container .intro {
  padding-left: 0;
}

.blog-single-page .heading-section .author-profile {
  width: 40px;
  height: 40px;
}
.blog-signup-block .subscribe-form .form-group {
  width: 100%;
}

.blog-signup-block .subscribe-form .email-field {
  width: 100%;
  margin-bottom: 10px;
}
.blog-signup-block .subscribe-form .btn {
  width: 100%;
}

.support-page .heading-section .help-search-form {
  width: 100%;
}

.support-page .heading-section .btn {
  width: 100%;
}

.support-page .heading-section .help-search-form {
  margin-right: 0;
}

.search-box .form-group {
  width: 100%;
}

.modal-auth .modal-dialog {
  width: inherit;
}
.modal-video .modal-dialog {
  width: inherit;
}

.story-item .content .inner {
  padding: 30px;
}

.blog-single-page .heading-section {
  padding-top: 120px;
}
.heading-section .heading-content .headline {
  font-size: 32px;
}

.support-page .actions {
  margin-top: 15px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-nav.navbar-right {
    float: right !important;
  }

  .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .features-figure-wrapper {
    max-width: 60%;
    top: 150px;
    right: -90px;
  }

  .ipad-screen {
    max-width: 460px;
  }

  .iphone-screen {
    max-width: 160px;
  }

  .benefits-wrapper {
    margin-top: -60px;
  }
  .overview-section .play-icon {
    top: 120px;
  }

  .modal-auth .modal-dialog {
    width: 520px;
    max-width: inherit;
  }
  .modal-video .modal-dialog {
    width: 660px;
    max-width: inherit;
  }

  .navbar {
    padding: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main-nav .nav .nav-item {
    margin-right: 15px;
  }

  .header .logo {
    font-size: 24px;
  }

  .features-figure-wrapper {
    width: 50%;
    max-width: 600px;
    top: 160px;
    right: 0px;
  }

  .ipad-screen {
    max-width: inherit;
  }

  .iphone-screen {
    max-width: inherit;
  }

  .benefits-wrapper {
    margin-top: -90px;
  }
  .overview-section .play-icon {
    top: 200px;
  }

  .modal-auth .modal-dialog {
    width: 520px;
    max-width: inherit;
  }
  .modal-video .modal-dialog {
    width: 720px;
    max-width: inherit;
  }
}

/* Extra Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .features-figure-wrapper {
    width: 60%;
    max-width: 800px;
    top: 120px;
    right: -120px;
  }
}

/* Custom Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .features-figure-wrapper {
    width: 60%;
    max-width: 900px;
    top: 120px;
    right: -120px;
  }
}
