.logged {
    text-align: center;
    background-color: rgb(79, 218, 188);
    color: rgb(30, 31, 114);
}

.logger {
    border-radius: 10px;
}

.infor {
    color: rgb(32, 36, 230)
}

.subbed {
    background-color: rgb(57, 131, 103);
    box-shadow: 3px 3px 3px rgb(6, 8, 7);
    padding-bottom: 5px;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 10px;
}

.lower {
    text-align: center;
    background-color: rgb(138, 231, 169);
}